body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0);

	background-color: #ffffff;
}

a {
	text-decoration: none;
  
}
header {
	background-color: #f4f7f9;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {   /*new*/
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top-menu {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #293449;

	margin-bottom: 45px;   /*new*/

}

.header-top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

}

.main-header-logo {
	width: 220px;
}

.search-form {
	width: 250px;
}

.header-bookmarks {
    width: 140px;
    margin-left: auto;
}

.header-cart {
	width: 140px;
}

.header-top-menu:hover {
	background-color: #212939;
}


.main-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

	background-color: #31415b;
	border-bottom: 5px solid #293349;
	margin-bottom: 120px;
}	

.main-navigation li:hover,
.main-navigation li:focus {
	background: #293449;

}

.main-navigation li:active {
	background: #1d2639;
	color: rgba(255, 255, 255, 0.6);
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.site-navigation, 
.user-navigation {
	list-style: none;
}

.site-navigation a, .header-top-menu a  {
	color: #ffffff;
}

.header-top-menu img {
	background-color: #ed3543;
	border-bottom: 5px solid #b42833;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 55px;
	padding-right: 55px;
}

.header-top-menu img:hover, 
.header-top-menu img:focus {
	background-color: #ca2b36;
}

.header-top-menu img:active {
	background-color: #ba2731;
}

.header-order {
	background-color:#62a63d;
}

.header-order:hover, 
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #508534;
}

.header-middle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.header-contacts {
	width: 300px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(50,66,92);
    text-align: center;
}

.header-contacts span {
	font-size: 21px;
    line-height: 21px;
    color: rgb(238,54,67);
    border: 3px solid #ffffff;
    padding: 7px;

}

.user-navigation {
	width: 300px; /*new*/
	font-size: 21px;
	line-height: 21px;
	color: rgb(0,0,0);
}


.sing-in a, .registration a {
    background: #ffffff;
    text-decoration: none;
    color: rgb(0,0,0);;
}


.sing-in a:focus,
.sing-in a:hover,
.registration a:focus,
.registration a:hover
 {
	color: #ee3643; /*Проверить цвет*/
}

.sing-in a:active,
.registration a:active {
	color: c5c5c5;
}

h1 {
	width: 200px;  /*new*/
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
	text-align: left;
	font-weight: 400;
}

.tehnomart-goods-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
}

.tehnomart-goods-group li {
	list-style: none;
	width: 300px;
    margin-bottom: 20px;
}

.tehnomart-goods-group a {
	font-size: 14px; 
    line-height: 18px;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase; 
    background-color: #e5e5e5; 


} 

.tehnomart-goods-group a:hover,
.tehnomart-goods-group a:focus {
	background-color: #cccccc;
}

.tehnomart-goods-group a:active {
    background-color: #b2b2b2;
}

.tehnomart-goods-group strong {
	font-size: 24px;
    line-height: 30px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: left;
}

.goods-group {
	background-color: #f6b12d;
} 

.tools-group {
	background-color: #3bbbe2;
} 

.technic-group {
	background-color: #db90d8;
} 

ul .drill-group {
	background-color: #544238;
	width: 620px;
} 

.drill-group a {
	background-color: #ed3543;
}
.drill-group a:hover,
.drill-group a:focus {
	background-color: #ca2b36;
}

.drill-group a:active {
	background-color: #ba2731;
}

.drill-group span {
	color: rgb(255,255,255);
}

.discount-group {
	background-color: #8dd68e;
}

.free-dilivery-group {
	background-color: #ffbf47;
}

.popular-product-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	background: #f9f5f0;
	margin-bottom: 20px;
}

.popular-product-title h2 {
	margin: 0;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
	color: #32425c;
	margin-top: 30px;
	margin-bottom: 30px;
}

.all-popular-product {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}

.catalog-list-popular {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	list-style: none;
	text-align: center;
}

.catalog-list-popular li {
	width: 218px;
	border: 1px solid #eaeaea;
}

.catalog-item-name {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.old-price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.button-buy {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	/* нужно ли добавлять background-color?*/
}

.buy-now {
    font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
}

.bookmark {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	border: 3px solid #63a63e;
}

.popular-maker-tittle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	background: #f9f5f0;
	margin-bottom: 20px;
	background: #f9f5f0;
}

.popular-maker-tittle h2 {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
	color: #32425c;
}

.all-popular-maker {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}

.popular-maker-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 85px;
	list-style: none;
}

.popular-maker-list li {
	width: 218px;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}

.service {
	font-family: "PT Sans", Arial, sans-serif;
	text-align: left;
	background: #f4f8fa;
	margin-bottom: 80px;

}

.service h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.service p {
	font-weight: 400;
	color: #000000;
}

.service-list {
	list-style: none;
}

.service-list-button {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	background: #32425c;
	border: none;
}

.service-list-button:active {
	color: #32425c;
	background: #ffffff;
}

.service-list-button:hover,
.service-list-button:focus {
	color: #ffffff;
	background: #293449;
}

.service-delivery h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.dilivery-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
}

.features {
	width: 540px;
}

.contacts {
	width: 300px;
}

.dilivery-contacts h2,
.dilivery-contacts h3 {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.transport-list {
    font-weight: 400;
	font-size: 18px;
	line-height: 20px;
}

.botton {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	background: #ee3643
}

.botton:hover,
.botton:focus {
	background: #ca2c37;
}

.botton:active {
	background: #ba2732;
}

.modal {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	border-top: 7px solid #ff5257;
}

.modal input {
	font-size: 13px;
	color: #999999;
	border: 2px solid #999999;
}

.modal input:hover {
	border: 2px solid #b5b5b5;
}

.modal input:focus {
	border: 2px solid #ee3643;
}

.footer-menu img {
	background: #ee3643;
	border-bottom: 5px solid #b52933;
}

.main-footer {
	background: #32425c;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-logo {
	width: 220px;
}

.footer-top-nav {
	width: 550px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-contacts {
	width: 380px;
}

.footer-secondary-nav {
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-top-nav,
.footer-secondary-nav {
	list-style: none;
}

.footer-top-nav a {
	color: #ffffff;
}

.footer-secondary-nav a {
	color: #ffd180;
}

.footer-top-nav a:focus,
.footer-secondary-nav a:focus,
.footer-top-nav a:hover,
.footer-secondary-nav a:hover {
	text-decoration: underline;
}

.footer-top-nav a:active {
	color: rgba(241, 245, 247, 0.5);
	
}

.footer-secondary-nav a:active {
    color: rgba(255, 209, 128, 0.5);
}

.rights-social-copyright {
	display: flex;
	flex-wrap: row;
	justify-content: space-between;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;	
}

.footer-wrapper {
	background: #293349;
}

.footer-rights {
	width: 230px;
}

.social {
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}

.social li {
	width: 42px;
	background: #212a3a;
}

.social li:hover,
.social li:focus,
.social li:active {
	background-color: #ee3643
}

.footer-feedback {
	width: 140px;
}

.footer-copyright {
	width: 120px;
}

.footer-feedback a,
.footer-copyright a {
	color: #ffd180;
}

.footer-feedback a:hover,
.footer-copyright a:hover,
.footer-feedback a:focus,
.footer-copyright a:focus {
	text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
	color: #ee3643;
	text-decoration: none;
}

.breadcrumbs {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	list-style: none;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: #000000;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	
}

.filters {
	font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.filters h3 {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	background: #f7f3ec;
}

.filters legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.filters ul {
	font-size: 15px;
	line-height: 20px;
	list-style: none;
}

.button-submit-filters {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background: #ffffff;
}

.catalog ul {
	list-style: none;
}

