body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0);

	background-color: #ffffff;
}

a {
	text-decoration: none;
}
header {
	background-color: #f4f7f9;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {/*new*/
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-bottom: 20px;
	padding-bottom: 60px;
}

.inner-header {
	margin-bottom: 20px;
	padding-bottom: 60px;
}

.header-top-menu {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;

	margin-bottom: 45px;   /*new*/

}

.header-top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-header-logo {
	width: 220px;
}

.search-form {
	position: relative;
}

.search-form input {
	box-sizing: border-box;
	width: 270px;
	padding-top: 12px;
	padding-left: 49px;
	padding-bottom: 12px;
	display: block;
}

input[type="search"]::-webkit-input-placeholder { color: #ffffff; }
input[type="search"]:-ms-input-placeholder { color: #ffffff; }
input[type="search"]::-ms-input-placeholder { color: #ffffff; }
input[type="search"]::placeholder { color: #ffffff; } 

.search-form input:focus {
	background-color: #ffffff;
	color: #000000;
}

.search-form-btn:hover,
.search-form-btn:focus {
	opacity: 1;
}

.search-form-btn {
	position: absolute;
	left: 16px;
	top: 12px;
    width: 20px;
    height: 20px;
	background-color: transparent;
	border: none;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.search-form input:focus + .search-form-btn {
	background-image: url("../img/icon-search-red.svg");
	opacity: 1;
}

.search-form input:hover + .search-form-btn {
	opacity: 1;
}

.header-top-menu input {
	background: #293449;
	border: none;
}

.header-bookmarks {
	box-sizing: border-box;
    width: 130px;
    margin-left: auto;
    padding-top: 10px;

}

.header-link:hover,
.header-link:focus {
	background: #212939;
}

.header-link:active {
	background: #161d29;
	color: rgba(241, 245, 247, 0.5);
}

.header-cart {
	box-sizing: border-box;
	width: 140px;
}

.main-navigation {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #31415b;
	border-bottom: 5px solid #293349;
}

.inner-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #31415b;
	border-bottom: 5px solid #293349;
}

.main-navigation a:hover,
.main-navigation a:focus {
	background: #293449;

}

.main-navigation a:active {
	background: #1d2639;
	color: rgba(255, 255, 255, 0.6);
}

.inner-navigation a:hover,
.inner-navigation a:focus {
	background: #293449;

}

.inner-navigation a:active {
	background: #1d2639;
	color: rgba(255, 255, 255, 0.6);
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a, .header-top-menu a  {
	color: #ffffff;
}

.header-top-menu img {
    display: block;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 55px;
	padding-right: 55px;
	background-color: #ed3543;
	box-shadow: 0 5px 0 0 #b42833;
}

.header-top-menu img:hover,
.header-top-menu img:focus {
	background-color: #ca2b36;
}

.header-top-menu img:active {
	background-color: #ba2731;
}

.header-order {
	box-sizing: border-box;
	max-width: 150px;
	background-color:#62a63d;
}

.header-order:hover,
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #508534;
	color: rgba(241, 245, 247, 0.5);
}

.header-middle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.header-contacts {
	margin: 0;
	width: 300px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(50,66,92);
    text-align: center;
}

.header-contacts span {
	display: inline-block;
	position: relative;
	font-size: 21px;
    line-height: 21px;
    color: rgb(238,54,67);
    border: 3px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 42px;
    padding-left: 71px;
    margin-bottom: 4px;

}

.header-contacts span::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 14px;
	top: 10px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 300px;
	margin: 0;
	font-size: 21px;
	line-height: 21px;
	color: rgb(0,0,0);
	align-self: flex-start;
}


.sing-in a, .registration a {
	display: block;
	padding-top: 11px;
	padding-bottom: 13px;
    background: #ffffff;
    text-decoration: none;
    color: rgb(0,0,0);
    padding-left: 25px;
    padding-right: 25px;
}

.sing-in a {
	position: relative;
	margin-right: 10px;
	padding-left: 50px;
}

.sing-in a::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.sing-in a:focus,
.sing-in a:hover,
.registration a:focus,
.registration a:hover
 {
	color: #ee3643;
}

.sing-in a:focus::before,
.sing-in a:hover::before {

	background-image: url("../img/icon-login-focus.svg");
}

.sing-in a:active,
.registration a:active {
	color: #c5c5c5;
}

.sing-in a:active::before {
	background-image: url("../img/icon-login.svg");

}

.header-middle h1 {
	margin: 0;
	box-sizing: border-box;
	width: 300px;  /*new*/
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
	text-align: left;
	font-weight: 400;
	padding-left: 52px;
	padding-right: 52px;
}

.tehnomart-goods-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
}

.tehnomart-goods-group li {
	position: relative;
	list-style: none;
	width: 300px;
    margin-bottom: 20px;
}

.catalog-button {
	font-size: 14px;
    line-height: 18px;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
    background-color: rgba(0,0,0,.1);
    border-radius: 3px;
}

.catalog-button:hover,
.catalog-button:focus {
	background-color: rgba(0,0,0,0.2);
}

.catalog-button:active {
    background-color: rgba(0,0,0,0.3);
}

.tehnomart-goods-group strong {
	font-size: 24px;
    line-height: 30px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: left;
}

.goods-group {
	background-color: #f6b12d;
}

.tools-group {
	background-color: #3bbbe2;
}

.technic-group {
	background-color: #db90d8;
}

ul .drill-group {
	background-color: #544238;
	width: 620px;
}

.drill-group a {
	background-color: #ed3543;
}
.drill-group a:hover,
.drill-group a:focus {
	background-color: #ca2b36;
}

.drill-group a:active {
	background-color: #ba2731;
}

.all-popular-product:hover,
.all-popular-product:focus,
.all-popular-maker:hover,
.all-popular-maker:focus,
.modal-order-nav a:hover,
.modal-order-nav a:focus {
    background-color: #ca2b36;
}

.all-popular-product:active,
.all-popular-maker:active,
.modal-order-nav a:active {
	background-color: #ba2731;
}

.drill-group span {
	color: rgb(255,255,255);
}

.discount-group {
	background-color: #8dd68e;
}

.free-dilivery-group {
	background-color: #ffbf47;
}

.popular-product-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	background: #f9f5f0;
	margin-bottom: 20px;
	align-items: center;
}

.popular-product-title h2 {
	margin: 0;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
	color: #32425c;
	margin-top: 30px;
	margin-bottom: 30px;
}

.all-popular-product {
    display: block;
    box-sizing: border-box;
	padding: 10px;
	text-align: center;
	min-width: 250px;
	border-radius: 3px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}

.catalog-list-popular {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	list-style: none;
	text-align: center;
}

.catalog-list-popular li {
	width: 218px;
	border: 1px solid #eaeaea;
}

.catalog-item-title {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.popular-maker-tittle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	background: #f9f5f0;
	margin-bottom: 20px;
	background: #f9f5f0;
	align-items: center;
}

.popular-maker-tittle h2 {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
	color: #32425c;
}

.all-popular-maker {
    display: block;
    box-sizing: border-box;
	padding: 10px;
	text-align: center;
	min-width: 250px;
	border-radius: 3px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}

.popular-maker-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 85px;
	list-style: none;
}

.popular-maker-list li {
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}

.popular-maker-list a {
	display: block;
	width: 218px;
	height: 100%;
}

.popular-maker-item img{
	display: block;
	margin: auto;
}

.popular-maker-item a {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.popular-maker-item a:hover,
.popular-maker-item a:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-maker-item a:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: left;
	background: #f4f8fa;
	margin-bottom: 80px;

}

.service h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.service p {
	font-weight: 400;
	color: #000000;
}

.service-list {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 240px;
	margin-bottom: 100px;
}

.service-list::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 272px;
	top: 50%;
	margin-top: -136px;
	right: 0;
	background-image: url(../img/btn-shadow.png);

}

.service-list-button {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 23px;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	background: #32425c;
	border: none;
	width: 100%;
	text-align: left;
	border-top: 1px solid #3f4f69;
	border-bottom: 1px solid #293349;
}

.service-list .button-active {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #32425c;
}

.service-list-button:active {
	color: #32425c;
	background: #ffffff;
	border-top: 1px solid #3f4f69;
	border-bottom: 1px solid #293349;
}

.service-list-button:hover,
.service-list-button:focus {
	color: #ffffff;
	background: #293449;
	border-top: 1px solid #3f4f69;
	border-bottom: 1px solid #293349;
}

.service-delivery {
	width: 620px;
	padding-bottom: 130px;
	background-image: url("../img/track.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.service-delivery h3 {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.service-delivery p {
	width: 300px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: left;
	padding-right: 10px;
}

.dilivery-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	margin-bottom: 85px;
}

.features {
	width: 540px;
}

.features h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.features p {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;	
}

.contacts {
	width: 300px;
}

.contacts h2 {
	margin: 0;
	padding: 0;	
	margin-bottom: 25px;
}

.contacts p {
	margin: 0;
	padding: 0;	
	margin-bottom: 35px;
}

.dilivery-contacts h2,
.dilivery-contacts h3 {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.transport-list {
	margin: 0;
	padding: 0;
    font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.transport-list li {
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
}

.transport-list li:last-child {
	margin-bottom: 35px;
}

.transport-list li::before {
	content: "";
	width: 25px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 0;
	background: #ff5357;
}

.location-map {
	display: block;
	margin-bottom: 40px;
}

.transport-list-wrapper {
	max-width: 220px;
}

.botton {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	background: #ee3643;
	text-align: center;

}

.botton:hover,
.botton:focus {
	background: #ca2c37;
}

.botton:active {
	background: #ba2732;
}

.modal {
	position: fixed;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	border-top: 7px solid #ff5257;
	background: #ffffff;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
	z-index: 30;
}

.modal-map {
	border-top: none;
	top: 50%;
    left: 50%;
    margin-left: -470px;
    margin-top: -223px;
}

.modal-write-us {
	top: 100px;
	left: 50%;
	width: 620px;
	margin-left: -310px;
}

.modal-order {
	display: none;
	top: 410px;
	left: 50%;
	width: 620px;
	margin-left: -310px;
	text-align: center;
}

.modal-order fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.button-continue {
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	color: rgb(0,0,0);
    text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	background-color: #ffffff;
	border: none;
}

.modal-write-us label {
	padding-bottom: 8px;
}

.modal-user-contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;	
	padding-top: 42px;
	margin-bottom: 17px;
}

.modal-write-us fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.modal-wrapper {
	width: 220px;
}

.modal-wrapper-message {
	padding-left: 80px;
	padding-right: 80px;
	width: auto;
	margin-bottom: 37px;
}

.modal-wrapper-message textarea {
    font-size: 13px;
    color: #999999;
    border: 2px solid #999999;
    border-radius: 3px;
    padding-top: 8px;
    padding-left: 14px;
    padding-bottom: 8px;
    padding-right: 14px;
    resize: none;
}

.modal-map img {
	display: block;
}

.modal input {
	font-size: 13px;
	color: #999999;
	border: 2px solid #999999;
	border-radius: 3px;
    padding-left: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.modal input:hover {
	border: 2px solid #b5b5b5;
	outline: none;
}

.modal textarea:hover {
	border: 2px solid #b5b5b5;
	outline: none;
}

.modal input:focus,
.modal textarea:focus { 
	border: 2px solid #ed3543;
	outline: none;
}

.modal-submit-wrapper {
	background: #f3f3f3;
}

.modal-order-nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding-top: 37px;
	padding-bottom: 37px;
	background: #f3f3f3;
	padding-right: 80px;
	padding-left: 80px;
}

.order-now fieldset {
	padding: 0;
	margin: 0;
}

.order-now {
	
}

.modal-order-nav a {
	display: block;
	box-sizing: border-box;
    width: 220px;
    padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	font-size: 14px;
    line-height: 18px;
    color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	background: #ed3543;
}

.modal-order span {
	display: block;
	position: relative;
	padding-top: 68px;
	padding-bottom: 65px;
	padding-left: 55px;
	font-size: 30px;
	line-height: 30px;
	color: rgb(0,0,0);
}

.modal-order span::before {
	content: "";
	position: absolute;
	width: 66px;
	height: 66px;
	top: 48px;
	left: 81px;
	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.button-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 21px;
	height: 21px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background: none;
}

.button-close::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 28px;
	background: #ee3643;
	transform: rotate(45deg);
}

.button-close::after {
	content: "";
	position: absolute;
	width: 5px;
	height: 28px;
	background: #ee3643;
	transform: rotate(-45deg);
}

.button-close::after,
.button-close::before {
	left: 8px;
	top: -3px;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-wrapper-user {
	padding-left: 80px;
}

.modal-wrapper-email {
	padding-right: 80px;
}

.modal-submit-wrapper {
	padding-top: 37px;
	padding-bottom: 37px;
	text-align: center;	
}

.modal-write-us .button-submit {
	box-sizing: border-box;
	width: 460px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
}

.modal-write-us .button-submit:hover,
.modal-write-us .button-submit:focus {
	background-color: #ca2b36;
}

.modal-write-us .button-submit:active {
	background-color: #ba2731;
}

.footer-menu img {
	background: #ee3643;
	box-shadow: 0 5px 0 0 #b42833;
	padding-left: 42px;
	padding-right: 42px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-footer {
	background: #32425c;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-logo {
	width: 220px;
	margin-bottom: 29px;
}

.footer-top-nav {
	width: 550px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-contacts {
	width: 380px;
	margin: 0;
}

.footer-secondary-nav {
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-top-nav,
.footer-secondary-nav {
	list-style: none;
}

.footer-top-nav a {
	color: #ffffff;
}

.footer-secondary-nav a {
	color: #ffd180;
}

.footer-top-nav a:focus,
.footer-secondary-nav a:focus,
.footer-top-nav a:hover,
.footer-secondary-nav a:hover {
	text-decoration: underline;
}

.footer-top-nav a:active {
	color: rgba(241, 245, 247, 0.5);

}

.footer-secondary-nav a:active {
    color: rgba(255, 209, 128, 0.5);
}

.rights-social-copyright {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.rights-social-copyright p {
	margin: 0;
	padding: 0;
}

.footer-wrapper {
	background: #293349;
}

.footer-rights {
	width: 230px;
}

.social {
	margin: 0;
	padding: 0;
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	align-items: center;

}

.social li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	background: #212a3a;
	border-radius: 20px;
}

.social li:hover,
.social li:focus,
.social li:active {
	background-color: #ee3643
}

.footer-feedback {
	width: 140px;
}

.footer-copyright {
	width: 120px;
}

.footer-feedback a,
.footer-copyright a {
	color: #ffd180;
}

.footer-feedback a:hover,
.footer-copyright a:hover,
.footer-feedback a:focus,
.footer-copyright a:focus {
	text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
	color: #ee3643;
	text-decoration: none;
}

.breadcrumbs {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	list-style: none;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: #000000;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

}

.filters {
	width: 220px;
	font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.filters h3 {
	margin: 0;
	padding: 0;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 18px;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	background: #f7f3ec;
	margin-bottom: 11px;
}

.fieldset {
	margin: 0;
	padding: 0;
}

.filters legend {
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.filters fieldset {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #c5c5c5;
	margin-bottom: 20px;
}

.filters fieldset:first-child,
.filters fieldset:nth-last-child(2) {
	border-bottom: none;
}

.filters ul {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	list-style: none;
}

.filter-option {
	margin-bottom: 20px;
	padding-left: 35px;
}

.filter-option label {
	position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-electrical {
	margin-bottom: 20px;
	padding-left: 35px;
}

.filter-electrical label {
	position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
	background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:hover + label::before {
	background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked:disabled + label::after {
	background-image: url("../img/checkbox-on-hover.svg");
	opacity: 0.3;
}

.filter-input-checkbox:checked:disabled + label::before {
	display: none;
}

.filter-input-checkbox:disabled + label::after {
	display: none;
}

.filter-input-checkbox:disabled + label::before {
	background-image: url("../img/checkbox-off-hover.svg");
	opacity: 0.3;
}

.filter-input-radio:checked:hover + label::after {
	background-image: url("../img/radio-on-hover.svg");
}

.filter-input-radio:hover + label::before {
	background-image: url("../img/radio-off-hover.svg");
}

.filter-input-radio:checked:disabled + label::before {
	background-image: url("../img/radio-on-hover.svg");
	opacity: 0.3;
}

.filter-input-radio:checked:disabled + label::after {
	display: none;
}

.filter-input-radio:disabled + label::after {
	display: none;
}

.filter-input-radio:disabled + label::before {
	background-image: url("../img/radio-off-hover.svg");
	opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.button-submit-filters {
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: #ffffff;
}

.catalog ul {
	list-style: none;
}

.breadcrumbs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.breadcrumbs li {
	padding-right: 40px;
}

.breadcrumbs li:last-child {
	margin-right: auto;
}

.catalog-main-title {
	margin: 0;
	padding-left: 30px;
	padding-top: 35px;
	padding-bottom: 35px;
	background: #f1f5f7;
	margin-bottom: 20px;
}

.catalog-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catalog-right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 700px
}

.sort, .catalog {
	width: 700px;
}

.sort {
	margin: 0;
	padding: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	background: #f7f2ec;
}

.sort h3 {
	margin: 0;
	padding: 0;
	padding-left: 19px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.sort-category, .sort-sequence {
	list-style: inherit;
}

.sort-category {
	margin: 0;
	padding: 0;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 400px;
}

.sort-category li {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 380px;
}

.sort-category a {
	display: block;
	color: #c5c5c5;
	border-bottom: 1px dotted #ed3543;
}

.sort-category a:hover,
.sort-category a:focus {
	color: #000000;
	border-bottom: 1px solid #ed3543;
}

.sort-category a:active {
	color: #ed3543;
	border-bottom: none;

}

.sort-sequence{
	margin: 0;
	padding: 0;
	width: 43px;
	padding-left: 35px;
	padding-right: 17px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catalog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 52px;
}

.catalog-item {
	position: relative;
    display: inline-block;
	width: 218px;
	border: 1px solid #f6f6f6;
	margin-bottom: 20px;
	font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .old-price {
  display: block;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .button-buy { 
	display: block;
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
 	border-radius: 3px;
}

.catalog-item .button-buy:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}

.actions .buy-now,
.actions .bookmark {
	position: relative;
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
    text-transform: uppercase;
}

.actions .buy-now::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	top: 10px;
	left: 11px;
	opacity: 0.3;
}

.actions .buy-now:hover::before,
.actions .buy-now:focus::before,
.actions .buy-now:active::before {
	opacity: 1;
}

.actions .buy-now:hover,
.actions .buy-now:focus {
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.actions .buy-now:active {
	background-color: #518534;
	border: 3px solid #518534;
    border-bottom-color: #367315;
}

.actions .bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.actions .bookmark:hover,
.actions .bookmark:focus {
	border-color: #32425c;
	color: #32425c;
}

.actions .bookmark:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.button-buy a {
    color: #ffffff;
}

.catalog-item:nth-child(4n) {
	margin-right: 0px;
}

.catalog-list li:nth-child(3n) {
	margin-right: 0;
}

.pagination-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-start;
	margin: 0;
	margin-bottom: 60px;
	list-style: none;
	padding: 0;
}

.pagination-list a {
	box-sizing: border-box;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: rgb(0,0,0);
}

.pagination-item a:hover:not(.currient-page),
.pagination-item a:focus:not(.currient-page) {
	border: 1px solid #bdc5c9;
}

.pagination-item a:active:not(.currient-page) {
	border: 1px solid #ed3543;
}

.user-name-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	width: 300px;
	padding-left: 47px;
	padding-top: 14px;
	padding-bottom: 14px;
	background: #ffffff;
}

.user-name::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	left: 12px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-name:hover::before,
.user-name:focus::before {
    background-image: url("../img/icon-user-hover.svg");
}

.user-name:active::before {
	background-image: url("../img/icon-user.svg");
}

.user-name {
	color: rgb(0,0,0);
}

.user-name:active {
	color: #c5c5c5;
}

.my-order a, .personal-account a {
	font-size: 16px;
    line-height: 18px;
    color: rgb(50,66,92);
    text-decoration: underline;
}

.my-order a:hover,
.personal-account a:hover,
.my-order a:focus,
.personal-account a:focus {
	color: #ee3643;
}


.my-order a:active,
.personal-account a:active {
	color: #c5c5c5;
    text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.header-top-content a {
	display: block;
}

.header-link {
	position: relative;
	padding-top: 11px;
	padding-left: 43px;
}

.header-bookmarks::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 17px;
	left: 18px;
	top: 12px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;

}


.header-cart::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 16px;
	left: 18px;
	top: 12px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;

}
.header-cart:focus::before,
.header-cart:hover::before,
.header-bookmarks:focus::before,
.header-bookmarks:hover::before {
	opacity: 1;
}

.header-cart:active::before,
.header-bookmarks:active::before {
	opacity: 0.5;
}

.header-order {
	padding-top: 11px;
	padding-left: 20px;
	padding-right: 20px;
}

.site-navigation a {
	display: block;
	vertical-align: middle;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.site-navigation-item:first-child a {
	padding-left: 52px;
}

.site-navigation-item:last-child a {
	padding-right: 52px;
}

.tehnomart-goods-group strong {
	display: inline-block;
	padding-top: 22px;
	padding-bottom: 11px;
	padding-left: 23px;
}

.catalog-button {
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	margin-bottom: 22px;
	margin-left: 25px;
	width: 135px;
}

.tehnomart-goods-group li,
.discount-group,
.free-dilivery-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.goods-group {
	position: relative;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 50%;

}

.tehnomart-goods-group .flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.tehnomart-goods-group .flag-new {
	background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
}

.catalog-new-item {
	position: relative;
}

.catalog-new-item::before {
	content: "Новинка";
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
    overflow: hidden;
	z-index: 20;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
}


.tools-group {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 50%;
}

.technic-group {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 190px 50%;
}

.discount-group {
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 50%;
}

.free-dilivery-group {
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 50%;
}

.special-offer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.special-offer div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.discount-group {
	margin-bottom: 20px;
}

.drill-group {
	justify-content: flex-start;
	background-image: url("../img/drill-group.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.drill-group span {
	font-size: 18px;
	line-height: 24px;
	padding-left: 25px;

}

.drill-group strong {
	padding-bottom: 0;
}

.drill-tools {
	margin-top: auto;
	margin-bottom: 22px;
    margin-left: 25px;
    padding: 10px 49px;
	font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;

}

.gallery-button-back {
	position: absolute;
	top: 50%;
	left: 24px;
	margin-top: -20px;

}

.gallery-button-next {
	position: absolute;
	top: 50%;
	right: 24px;
	margin-top: -20px;
}

.gallery-button {
	background: transparent;
	border: none;
	padding: 0;
}

.service-wrapper {
	background: #f4f8f9;
}

.service-tittle {
	width: 400px;
	margin-top: 68px;
	margin-bottom: 70px;
}

.service-tittle h2 {
	margin: 0;
}

.service-tittle p {
	padding-top: 40px;
	margin: 0;
}

.service-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.goods-in-cart {
	background: #ed3543;
}

.sing-out {
	padding-right: 10px;
	display: block;
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	margin-top: -8px;
	width: 21px;
	height: 17px;
	background-image: url("../img/icon-logout.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.sing-out:hover,
.sing-out:focus {
    background-image: url("../img/icon-logout-hover.svg");
}

.sing-out:active {
    background-image: url("../img/icon-logout.svg");
}

.personal-account {
	position: relative;
	margin-right: auto;
	padding-left: 32px;
}

.my-order {
	padding-left: 18px;
}

.personal-account::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 16px;
	width: 4px;
	height: 4px;
	background: #31415b;
	border-radius: 50%;

}

.breadcrumbs li:not(:first-child) {
	position: relative;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	margin-top: -6px;
	top: 50%;
	left: -19px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.pagination-item a {
	display: block;
	margin-right: 10px;
	padding-left: 16px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-item:last-child a{
    padding-left: 30px;
    padding-right: 30px;
}

.pagination-item .currient-page {
	color: #ffffff;
	background: #ed3543;
}

.sort-min-max {
	display: block;
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	margin-top: -5px;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.sort-min-max:hover,
.sort-min-max:focus {
	background-image: url("../img/icon-up-dir-focus.svg");
}

.sort-min-max:active {
	background-image: url("../img/icon-up-dir-active.svg");
}

.sort-max-min {
	display: block;
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	margin-top: -5px;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.sort-max-min:hover,
.sort-max-min:focus {
	background-image: url("../img/icon-down-dir-focus.svg");
}

.sort-max-min:active {
	background-image: url("../img/icon-down-dir-active.svg");
}

.sort-sequence li {
	position: relative;
}

.about-perforator {
	background: #f2f6f8;
	padding-bottom: 70px;
}

.about-perforator h2 {
	padding: 0;
	margin: 0;
	padding-top: 63px;
}

.catalog-item img {
	width: 218px;
	height: 170px;
}

.modal-order-show {
	display: block;
}



